<strong>Olá, {{ user.name }}</strong>
<p>Este email se refere a sua solicitação de recuperação de senha:</p>
<p>
  <strong>Use sua senha temporária para acessa o sistema: </strong> {{ randomPasswd }} <br />
  <strong>Lembre de alterar sua senha logo ao entrar, essa senha só valerá no seu primeiro acesso com ela</strong><br />
</p>
